.container{:style => "text-align: center"}
  %img{:src => "images/teddy.jpg"}

  %p{:style => "font-size:40px;"}
    &nbsp;
    
  %p{:style => "font-size:50px;"}
    %a{:href => "/punchteddy/#{@teddy.id}/#{@you.id}"} Punch Teddy
